<!-- servlet tag ka class name or servlet mapping tag ka class name same hona chahiye.
yaha hmne j01_servlet class name waale file ko 1 name diya then us name ka url pattern d diya ab jb server se request aayegi tb is servlet name waali file as a response show hogi -->


<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  
    <servlet>
        <servlet-name>j01_servlet</servlet-name>
        <servlet-class>j01_servlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>j01_servlet</servlet-name>
        <url-pattern>/j01_servl</url-pattern>
    </servlet-mapping>
    
    
<!--<session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>    -->
</web-app>
