

<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
   
    
    
    <servlet>
        <servlet-name>response</servlet-name>
        <servlet-class>j09_cookie_response</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>j09_cookie_create</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>          
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>response</servlet-name>
        <url-pattern>/response</url-pattern>          
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>j09_cookie.html</welcome-file>
    </welcome-file-list>
    
    
    
</web-app>
