

<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    
    <servlet>
        <servlet-name>name</servlet-name>
        <servlet-class>j10_urlrewriting_name</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>take</servlet-name>
        <servlet-class>j10_urlrewriting_take</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>name</servlet-name>
        <url-pattern>/name</url-pattern>          
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>take</servlet-name>
        <url-pattern>/take</url-pattern>          
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>j10_urlrewriting.html</welcome-file>
    </welcome-file-list>

    
</web-app>
